header {
  background-color: #04091e;
  padding: 0 15px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .socials a {
  margin-right: 10px;
  font-size: 0.8rem;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .socials a:hover {
  color: #f6214b;
}
header .container .reach_us {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
header .container .reach_us p {
  margin-right: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .reach_us p:hover {
  color: #f6214b;
}
header .container .reach_us a {
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .container .reach_us a:hover {
  color: #f6214b;
}
header .container .reach_us p,
header .container .reach_us a {
  color: white;
}

.logo {
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  background-color: #ecf0f1;
}
.about nav {
  position: relative;
  background-color: #04091e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 15px;
  height: 42px;
}
.about nav.stick {
  position: fixed;
  top: 0;
  width: 75%;
  z-index: 9999;
}
.about nav ul.list {
  display: flex;
}
.about nav ul.list ul.active {
  display: block !important;
}
.about nav ul.list li {
  margin-right: 20px;
}
.about nav ul.list li a {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
}
.about nav .menu_burger {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.about nav .drop_down {
  display: none;
  background-color: white;
  width: fit-content;
  padding: 5px 30px;
  position: absolute;
  left: 27%;
  bottom: -230px;
  z-index: 9999;
}
.about nav .drop_down ul.drop {
  display: flex;
  flex-direction: column;
}
.about nav .drop_down ul.drop li {
  margin-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}
.about nav .drop_down ul.drop li a {
  font-size: 1rem;
  color: black;
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.about nav .drop_down ul.drop li a:hover {
  color: #f6214b;
}
.about .image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.about .image_container .top_1 {
  margin-right: 20px;
}
.about .image_container .top_1 img {
  width: 100%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.about .image_container .top_1,
.about .image_container .top_2,
.about .image_container .top_3 {
  overflow: hidden;
  position: relative;
}
.about .image_container .top_1:hover img,
.about .image_container .top_2:hover img,
.about .image_container .top_3:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.about .image_container .top_1 .overlay,
.about .image_container .top_2 .overlay,
.about .image_container .top_3 .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.about .image_container .top_2 .content,
.about .image_container .top_3 .content {
  font-size: 0.7rem;
  bottom: 20px;
  left: 20px;
}
.about .image_container .top_2 .content button,
.about .image_container .top_3 .content button {
  font-size: 0.8rem;
}
.about .image_container .top_2 .content h2,
.about .image_container .top_3 .content h2 {
  font-size: 0.8rem;
}
.about .image_container .top_2 .content .info a,
.about .image_container .top_3 .content .info a {
  font-size: 0.6rem;
}
.about .image_container img {
  transform: scale(1.1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 100%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  width: 100%;
}
.about .image_container .content {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: white;
}
.about .image_container .content button {
  text-decoration: 300;
  background-color: #f6214b;
  color: white;
  border: none;
  padding: 5px 30px;
  text-transform: capitalize;
  font-size: 1.1rem;
  font-weight: 100;
}
.about .image_container .content h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about .image_container .content .info a {
  color: white;
  margin-right: 10px;
  font-size: 0.8rem;
}
.about .image_container .content .info a i {
  margin-right: 10px;
}
.about .breaking_news {
  background-color: white;
  padding: 2px 15px;
  margin-top: 10px;
}
.about .breaking_news p {
  text-transform: capitalize;
  font-weight: 600;
}
.about .breaking_news p span {
  color: #f6214b;
}

.news {
  background-color: #ecf0f1;
  padding-top: 80px;
}
.news .container {
  display: flex;
  justify-content: space-between;
}
.news .container .big_news {
  margin-right: 20px;
  width: 70%;
}
.news .container .big_news .latest_news {
  background-color: white;
  padding: 20px;
}
.news .container .big_news .latest_news .heading {
  background-color: #04091e;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.news .container .big_news .latest_news .heading h3 {
  color: white;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.news .container .big_news .latest_news .card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.news .container .big_news .latest_news .card .image {
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
.news .container .big_news .latest_news .card .image img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .container .big_news .latest_news .card .image .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.news .container .big_news .latest_news .card .image button {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: white;
  text-transform: capitalize;
  background-color: #f6214b;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
.news .container .big_news .latest_news .card .content h3 {
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  margin-bottom: 15px;
}
.news .container .big_news .latest_news .card .content h3:hover {
  color: #f6214b;
}
.news .container .big_news .latest_news .card .content .info a {
  color: #777;
  font-size: 0.8rem;
  margin-right: 10px;
}
.news .container .big_news .latest_news .card .content .info a i {
  margin-right: 7px;
}
.news .container .big_news .latest_news .card .content p {
  color: #777;
}
.news .container .big_news .latest_news .card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news .container .big_news .ad_banner {
  padding: 20px;
  background-color: white;
  margin: 30px 0;
}
.news .container .big_news .ad_banner .image img {
  max-width: 100%;
}
.news .container .big_news .popular_posts {
  padding: 20px;
  background-color: white;
  margin-bottom: 30px;
}
.news .container .big_news .popular_posts .heading {
  background-color: #04091e;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.news .container .big_news .popular_posts .heading h3 {
  text-transform: capitalize;
  color: white;
  font-size: 0.9rem;
}
.news .container .big_news .popular_posts .image_container .pizza {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.news .container .big_news .popular_posts .image_container .pizza img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .container .big_news .popular_posts .image_container .pizza .content {
  position: absolute;
  left: 40px;
  bottom: 40px;
}
.news .container .big_news .popular_posts .image_container .pizza .content button {
  background-color: #f6214b;
  text-transform: capitalize;
  color: white;
  border: none;
  padding: 5px 20px;
}
.news .container .big_news .popular_posts .image_container .pizza .content h2 {
  text-transform: capitalize;
  color: white;
  margin: 20px 0;
}
.news .container .big_news .popular_posts .image_container .pizza .content .info a {
  margin-right: 10px;
  color: white;
}
.news .container .big_news .popular_posts .image_container .pizza .content .info a i {
  margin-right: 7px;
}
.news .container .big_news .popular_posts .image_container .pizza:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news .container .big_news .popular_posts .image_container .marriage {
  display: flex;
  justify-content: space-between;
}
.news .container .big_news .popular_posts .image_container .marriage .marriage_one {
  margin-right: 20px;
}
.news .container .big_news .popular_posts .image_container .marriage > div {
  position: relative;
  overflow: hidden;
}
.news .container .big_news .popular_posts .image_container .marriage > div .image {
  position: relative;
}
.news .container .big_news .popular_posts .image_container .marriage > div .image img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .container .big_news .popular_posts .image_container .marriage > div .image button {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: #f6214b;
  color: white;
  border: none;
  padding: 5px 20px;
  text-transform: capitalize;
}
.news .container .big_news .popular_posts .image_container .marriage > div:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news .container .big_news .popular_posts .image_container .marriage > div .content h3 {
  text-transform: capitalize;
  margin: 20px 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
}
.news .container .big_news .popular_posts .image_container .marriage > div .content h3:hover {
  color: #f6214b;
}
.news .container .big_news .popular_posts .image_container .marriage > div .content .info a {
  color: #777;
  font-size: 0.8rem;
  margin-right: 10px;
}
.news .container .big_news .popular_posts .image_container .marriage > div .content .info a i {
  margin-right: 7px;
}
.news .container .big_news .popular_posts .image_container .marriage > div .content p {
  color: #777;
}
.news .container .big_news .relevant_stories {
  padding: 20px;
  background-color: white;
  margin-bottom: 100px;
}
.news .container .big_news .relevant_stories .heading {
  background-color: #04091e;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.news .container .big_news .relevant_stories .heading h3 {
  text-transform: capitalize;
  color: white;
  font-size: 0.9rem;
}
.news .container .big_news .relevant_stories .cards .card {
  display: flex;
  align-items: center;
}
.news .container .big_news .relevant_stories .cards .card .image {
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}
.news .container .big_news .relevant_stories .cards .card .image img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .container .big_news .relevant_stories .cards .card .image img:hover {
  scale: 1.1;
}
.news .container .big_news .relevant_stories .cards .card .image button {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: #f6214b;
  color: white;
  border: none;
  padding: 5px 20px;
  text-transform: capitalize;
}
.news .container .big_news .relevant_stories .cards .card .content h3 {
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  margin: 20px 0;
}
.news .container .big_news .relevant_stories .cards .card .content h3:hover {
  color: #f6214b;
}
.news .container .big_news .relevant_stories .cards .card .content .info a {
  color: #777;
  font-size: 0.8rem;
  margin-right: 10px;
}
.news .container .big_news .relevant_stories .cards .card .content .info a i {
  margin-right: 7px;
}
.news .container .big_news .relevant_stories .cards .card .content p {
  color: #777;
}
.news .container .editor_pick {
  background-color: white;
  padding: 20px;
  width: 30%;
  height: fit-content;
}
.news .container .editor_pick .heading {
  background-color: #04091e;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.news .container .editor_pick .heading h3 {
  color: white;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.news .container .editor_pick .intro {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.news .container .editor_pick .intro .image {
  position: relative;
  overflow: hidden;
}
.news .container .editor_pick .intro .image .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.news .container .editor_pick .intro .image img {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  overflow: hidden;
}
.news .container .editor_pick .intro .image button {
  position: absolute;
  left: 15px;
  bottom: 15px;
  text-transform: capitalize;
  color: white;
  background-color: #f6214b;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}
.news .container .editor_pick .intro .image:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news .container .editor_pick .intro .content h3 {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
  margin: 15px 0;
}
.news .container .editor_pick .intro .content h3:hover {
  color: #f6214b;
}
.news .container .editor_pick .intro .content .info a {
  font-size: 0.8rem;
  color: #777;
  margin-right: 10px;
}
.news .container .editor_pick .intro .content .info a i {
  margin-right: 7px;
}
.news .container .editor_pick .intro .content p {
  color: #777;
}
.news .container .editor_pick .card {
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.news .container .editor_pick .card:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.news .container .editor_pick .card img {
  margin-right: 20px;
}
.news .container .editor_pick .card .content h4 {
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  cursor: pointer;
  line-height: 1.5;
  margin-bottom: 10px;
}
.news .container .editor_pick .card .content h4:hover {
  color: #f6214b;
}
.news .container .editor_pick .card .content .info a {
  color: #777;
  font-size: 0.8rem;
  margin-right: 10px;
}
.news .container .editor_pick .card .content .info a i {
  margin-right: 7px;
}
.news .container .editor_pick .side_ad .ad img {
  max-width: 100%;
}
.news .container .editor_pick .news_letter {
  margin-bottom: 40px;
}
.news .container .editor_pick .news_letter .heading {
  margin: 20px 0;
}
.news .container .editor_pick .news_letter p {
  color: #777;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.news .container .editor_pick .news_letter .subscribe {
  display: flex;
  flex-wrap: wrap;
}
.news .container .editor_pick .news_letter .subscribe input {
  border: none;
  padding: 10px 15px;
}
.news .container .editor_pick .news_letter .subscribe input[type=email] {
  background-color: #eee;
}
.news .container .editor_pick .news_letter .subscribe input[type=email]::placeholder {
  color: #b2b2b2;
}
.news .container .editor_pick .news_letter .subscribe input[type=submit] {
  color: white;
  background-color: #f6214b;
}
.news .container .editor_pick .social_network .socials .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 20px;
}
.news .container .editor_pick .social_network .socials .social .icon {
  border-right: 1px solid white;
  padding-right: 10px;
}
.news .container .editor_pick .social_network .socials .social .icon i {
  background-color: white;
  padding: 5px;
  color: initial;
}
.news .container .editor_pick .social_network .socials .social .link {
  padding-left: 10px;
  border-left: 1px solid white;
}
.news .container .editor_pick .social_network .socials .social .link a {
  color: white;
}
.news .container .editor_pick .social_network .socials .social.facebook {
  background-color: #4c63a2;
}
.news .container .editor_pick .social_network .socials .social.twitter {
  background-color: #69c9ff;
}
.news .container .editor_pick .social_network .socials .social.youtube {
  background-color: #c41713;
}
.news .container .editor_pick .social_network .socials .social.wifi {
  background-color: #f17300;
}

footer {
  background-color: #04091e;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
footer .sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  margin-bottom: 50px;
}
footer .sections .section {
  text-align: left;
}
footer .sections .section h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
}
footer .sections .section ul.feed {
  display: flex;
  flex-wrap: wrap;
}
footer .sections .section ul li {
  margin-bottom: 20px;
}
footer .sections .section ul li a {
  color: #777;
  text-transform: capitalize;
}
footer .sections .section ul li img {
  margin-right: 10px;
}
footer .copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .copyright p {
  font-size: 0.9rem;
}
footer .copyright p span {
  color: #f6214b;
}
footer .copyright .socials {
  display: flex;
}
footer .copyright .socials a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 15px;
}

.active {
  display: block !important;
}

@media (max-width: 1190px) {
  .logo .container {
    flex-direction: column;
  }
  .logo .container .banner_ad {
    margin-top: 20px;
  }
  .about .image_container {
    flex-direction: column;
  }
  .about .image_container .top_1 {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .about .image_container .right_section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .image_container .right_section .top_2 {
    margin-right: 10px;
  }
  .about .image_container .top_1,
  .about .image_container .top_2,
  .about .image_container .top_3 {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .about .image_container .right_section {
    flex-direction: column;
  }
  .about .image_container .right_section .top_2,
  .about .image_container .right_section .top_3 {
    width: 100%;
  }
  .about .image_container .right_section .top_2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .news .container {
    flex-direction: column;
  }
  .news .container .big_news {
    width: 100%;
  }
  .news .container .big_news .latest_news .card {
    flex-direction: column;
  }
  .news .container .big_news .latest_news .card .image {
    width: 100%;
    margin-right: 0;
  }
  .news .container .big_news .latest_news .card .content h3 {
    margin-top: 20px;
  }
  .news .container .big_news .relevant_stories .cards .card {
    flex-direction: column;
  }
  .news .container .big_news .relevant_stories .cards .card .image {
    margin-right: 0;
    width: 100%;
  }
  .news .container .editor_pick {
    width: 100%;
  }
}
@media (max-width: 750px) {
  :root {
    font-size: 13px;
  }
  .logo .container .banner_ad img {
    width: 500px;
  }
  .news .big_news .popular_posts .image_container .marriage {
    flex-direction: column;
  }
  .news .big_news .popular_posts .image_container .marriage .marriage_one {
    margin-right: 0 !important;
  }
  .news .big_news .popular_posts .image_container .marriage .marriage_one > div {
    width: 100%;
  }
}
@media (max-width: 611px) {
  :root {
    font-size: 10px;
  }
  .about nav ul.list {
    flex-direction: column;
    position: absolute;
    background-color: #f6214b;
    color: white;
    bottom: -160px;
    z-index: 99;
    padding: 10px;
    display: none;
  }
  .about nav ul.list li {
    margin-bottom: 10px;
  }
  .about nav .menu_burger {
    display: block;
  }
}
@media (max-width: 500px) {
  .logo .container .banner_ad img {
    width: 200px;
  }
  footer .copyright .socials a {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  footer .copyright .socials a i {
    font-size: 0.8rem;
  }
}
@media (max-width: 250px) {
  .editor_pick .cards .card {
    flex-direction: column;
  }
  .editor_pick .cards .card .image {
    width: 100%;
  }
  .editor_pick .cards .card .image img {
    width: 100%;
  }
}
.about .big_banner {
  background-color: #f6214b;
  color: white;
  padding: 100px 0;
  text-align: center;
}
.about .big_banner h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 2.7rem;
}
.about .big_banner a {
  text-transform: capitalize;
  color: white;
}
.about .big_banner span {
  margin: 0 10px;
}

.news .big_news .latest_news .load_more {
  text-align: center;
  margin-top: 30px;
}
.news .big_news .latest_news .load_more button {
  text-transform: capitalize;
  background-color: #ecf0f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .big_news .latest_news .load_more button:hover {
  color: white;
  background-color: #f6214b;
}

.about .information {
  margin-top: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  padding-bottom: 100px;
}
.about .information .info {
  display: flex;
  margin-bottom: 40px;
}
.about .information .info .icon {
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  margin-right: 20px;
  padding: 0 20px;
}
.about .information .info .icon i {
  font-size: 1.3rem;
}
.about .information .info .icon:hover {
  background-color: #f6214b;
  color: white;
}
.about .information .info .content h3 {
  text-transform: capitalize;
  font-size: 1.4rem;
}
.about .information .info .content p {
  color: #777;
}

.about_us {
  display: flex;
  background-color: #f9f9ff;
}
.about_us .image {
  margin-right: 50px;
  width: 45%;
}
.about_us .image img {
  width: 100%;
  height: 100%;
}
.about_us .content {
  width: 40%;
  margin-right: auto;
  margin-top: 80px;
}
.about_us .content h1 {
  text-transform: capitalize;
  font-size: 2.3rem;
}
.about_us .content p {
  color: #777;
}
.about_us .content .info {
  display: flex;
  margin-top: 50px;
}
.about_us .content .info .part i {
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #f6214b;
}
.about_us .content .info .part h3 {
  text-transform: capitalize;
}

.goals {
  background-color: #ecf0f1;
  text-align: center;
  padding: 100px 20px;
}
.goals .content {
  display: flex;
  justify-content: space-between;
}
.goals .content .accordion {
  width: 45%;
  margin-right: 20px;
}
.goals .content .accordion .acc {
  overflow: hidden;
  margin-bottom: 10px;
}
.goals .content .accordion .acc .head {
  display: flex !important;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.goals .content .accordion .acc .head.active {
  background-color: #f6214b;
  color: white;
}
.goals .content .accordion .acc .head.active i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.goals .content .accordion .acc .head h3 {
  font-size: 1rem;
}
.goals .content .accordion .acc p {
  margin: 0;
  height: 0;
  overflow: hidden;
  text-align: left;
}
.goals .content .accordion .acc p.active {
  margin: 15px 0;
  height: 100%;
}
.goals .content .help_video iframe {
  width: 100%;
}

.client {
  text-align: center;
  padding: 100px 20px;
}
.client .persons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  gap: 30px;
}
.client .persons .person {
  background-color: rgba(249, 249, 255, 0.6);
  padding: 20px;
  display: flex;
  cursor: pointer;
}
.client .persons .person .image {
  margin-right: 35px;
}
.client .persons .person .image img {
  width: 40px;
}
.client .persons .person .content {
  text-align: left;
}
.client .persons .person .content p {
  text-transform: capitalize;
  color: #777;
  font-size: 0.9rem;
  margin-top: 0;
}
.client .persons .person .content h3 {
  text-transform: capitalize;
  font-size: 1.4rem;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.client .persons .person .content h3:hover {
  color: #f6214b;
}
.client .persons .person .content span {
  text-transform: capitalize;
  color: #777;
}

.sponsors {
  background-color: #ecf0f1;
  padding: 80px 0;
  text-align: center;
}
.sponsors .slider {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  justify-content: space-between;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sponsors .slider .slide {
  margin-bottom: 60px;
}
.sponsors .slider .slide img {
  width: 100px;
}

.heading {
  margin-bottom: 50px;
}
.heading h2 {
  text-transform: capitalize;
  font-size: 2.2rem;
}
.heading p {
  color: #777;
  text-transform: capitalize;
}

@media (max-width: 1190px) {
  .about .information {
    padding: 0 20px;
  }
  .about .information .info .icon {
    height: 40px;
    line-height: 40px;
  }
  .about_us {
    flex-direction: column;
  }
  .about_us .image {
    width: 100%;
  }
  .about_us .content {
    width: 100%;
    padding: 0 20px;
  }
  .goals .content {
    flex-direction: column;
  }
  .goals .content .accordion {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .about_us .content .info {
    flex-direction: column;
  }
}
@media (max-width: 300px) {
  .client .persons .person {
    flex-direction: column;
    text-align: left;
  }
  .client .persons .person .image {
    margin-bottom: 20px;
  }
}
.about .contact {
  background-color: white;
  padding: 20px;
  margin-top: 50px;
}
.about .contact .map {
  height: 500px;
  margin-bottom: 50px;
}
.about .contact .map iframe {
  width: 100%;
  height: 100%;
}
.about .contact .contact_info {
  display: flex;
  justify-content: space-between;
}
.about .contact .contact_info .infos {
  width: 25%;
}
.about .contact .contact_info .infos .info {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.about .contact .contact_info .infos .info i {
  font-size: 1.7rem;
  color: #f6214b;
  margin-right: 25px;
}
.about .contact .contact_info .infos .info .content h4 {
  font-weight: 400;
}
.about .contact .contact_info .infos .info .content p {
  color: #777;
  margin: 0;
  margin-top: 5px;
}
.about .contact .contact_info form {
  width: 70%;
}
.about .contact .contact_info form .test {
  display: flex;
}
.about .contact .contact_info form .test .inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.about .contact .contact_info form .test .inputs input {
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
  outline: none;
}
.about .contact .contact_info form .test .message {
  width: 50%;
}
.about .contact .contact_info form .test .message textarea {
  width: 100%;
  border: 1px solid #c4c4c4;
  padding: 15px;
  height: 100%;
  outline: none;
}
.about .contact .contact_info form .submit {
  text-align: right;
  margin-top: 40px;
}
.about .contact .contact_info form .submit input {
  background-color: #f6214b;
  padding: 10px 20px;
  font-size: 0.9rem;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 1px solid #f6214b;
  outline: none;
}
.about .contact .contact_info form .submit input:hover {
  background-color: white;
  color: #f6214b;
}

.news .reviews {
  background-color: white;
  padding: 30px;
  height: fit-content;
  margin-right: 20px;
  width: 70%;
  margin-bottom: 20px;
}
.news .reviews .video iframe {
  width: 100%;
  height: 400px;
}
.news .reviews .starter {
  text-transform: capitalize;
  color: white;
  background-color: #f6214b;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px 20px;
  margin-top: 20px;
}
.news .reviews .heading {
  margin-top: 30px;
  margin-bottom: 60px;
}
.news .reviews .heading h2 {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.news .reviews .heading .links a {
  color: #777;
  margin-right: 15px;
  font-size: 0.8rem;
  text-transform: capitalize;
}
.news .reviews .heading .links a i {
  margin-right: 5px;
}
.news .reviews .review p {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
.news .reviews .review p:last-of-type {
  font-style: italic;
  border-left: 2px solid #f6214b;
  padding-left: 20px;
}
.news .reviews .review .togglers {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.news .reviews .review .togglers button {
  background-color: #04091e;
  color: white;
  text-transform: capitalize;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.news .reviews .review .togglers button:hover {
  background-color: #f6214b;
}
.news .reviews .review .togglers button i {
  margin: 0 10px 0 10px;
}
.news .reviews .comments {
  margin-top: 30px;
}
.news .reviews .comments .comments_counter {
  margin-bottom: 30px;
  font-weight: 700;
}
.news .reviews .comments .comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.news .reviews .comments .comment:nth-of-type(2) {
  padding-left: 30px;
}
.news .reviews .comments .comment .content {
  display: flex;
}
.news .reviews .comments .comment .content .image {
  margin-right: 15px;
}
.news .reviews .comments .comment .content .image img {
  width: 100%;
}
.news .reviews .comments .comment .content .info h4 {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.news .reviews .comments .comment .content .info span {
  color: #e0e0e0;
  text-transform: capitalize;
}
.news .reviews .comments .comment .content .info p {
  text-transform: capitalize;
  color: #777;
}
.news .reviews .comments .comment .reply {
  height: fit-content;
  width: fit-content;
  text-transform: uppercase;
  background-color: #04091e;
  color: white;
  border: none;
  outline: none;
  padding: 10px 25px;
}

@media (max-width: 1000px) {
  .news .reviews {
    width: 100%;
  }
}
@media (max-width: 611px) {
  .news .reviews .review .togglers button {
    font-size: 0.9rem;
  }
  .news .reviews .comments .comment .reply {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .news .reviews .comments .comment {
    flex-direction: column;
  }
  .news .reviews .comments .comment .content {
    margin-bottom: 15px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 75%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  line-height: 1.6;
}

@media (max-width: 1199px) {
  .container {
    max-width: 85%;
  }
  .about nav.stick {
    width: 85%;
  }
}
@media (max-width: 570px) {
  .container {
    max-width: 100%;
  }
  .about nav.stick {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
