@import "../variable/variables";

header {
    background-color: $secondary-color;
    padding: 0 15px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .socials {
            a {
                margin-right: 10px;
                font-size: .8rem;
                color: white;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }
        }

        .reach_us {
            display: flex;
            align-items: center;
            font-size: 0.9rem;

            p {
                margin-right: 15px;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }

            a {
                text-decoration: none;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }

            p,
            a {
                color: white;
            }
        }
    }
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about {
    background-color: $background-color;

    nav {
        position: relative;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        margin-bottom: 15px;
        height: 42px;

        &.stick {
            position: fixed;
            top: 0;
            width: 75%;
            z-index: 9999;
        }

        ul {
            display: flex;

            ul.active {
                display: block !important;
            }

            li {
                margin-right: 20px;

                a {
                    color: white;
                    text-transform: uppercase;
                    font-size: .7rem;
                }
            }
        }

        .menu_burger {
            display: none;
            background-color: transparent;
            border: none;
            outline: none;
        }

        .drop_down {
            display: none;
            background-color: white;
            width: fit-content;
            padding: 5px 15px;
            position: absolute;
            left: 27%;
            bottom: -190px;
            z-index: 9999;

            ul.drop {
                display: flex;
                flex-direction: column;
                li {
                    margin-bottom: 10px;

                    a {
                        font-size: 1rem;
                        color: black;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }



    .image_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .top_1 {
            margin-right: 20px;

            img {
                width: 100%;
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }

        .top_1,
        .top_2,
        .top_3 {
            overflow: hidden;
            position: relative;

            &:hover img {
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
            }

            .overlay {
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .top_2,
        .top_3 {
            .content {
                font-size: .7rem;
                bottom: 20px;
                left: 20px;

                button {
                    font-size: .8rem;
                }

                h2 {
                    font-size: .8rem;
                }

                .info {
                    a {
                        font-size: .6rem;
                    }
                }
            }
        }

        img {
            transform: scale(1.1);
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            height: 100%;
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            width: 100%;
        }

        .content {
            position: absolute;
            bottom: 40px;
            left: 30px;
            color: white;

            button {
                text-decoration: 300;
                background-color: $special-color;
                color: white;
                border: none;
                padding: 5px 30px;
                text-transform: capitalize;
                font-size: 1.1rem;
                font-weight: 100;
            }

            h2 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .info {
                a {
                    color: white;
                    margin-right: 10px;
                    font-size: .8rem;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .breaking_news {
        background-color: white;
        padding: 2px 15px;
        margin-top: 10px;

        p {
            text-transform: capitalize;
            font-weight: 600;

            span {
                color: $special-color;
            }
        }
    }
}

.news {
    background-color: $background-color;
    padding-top: 80px;

    .container {
        display: flex;
        justify-content: space-between;

        .big_news {
            margin-right: 20px;
            width: 70%;

            .latest_news {
                background-color: white;
                padding: 20px;

                .heading {
                    background-color: $secondary-color;
                    padding: 10px 20px;
                    margin-bottom: 20px;

                    h3 {
                        color: white;
                        text-transform: capitalize;
                        font-size: .9rem;
                    }
                }

                .card {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    .image {
                        margin-right: 20px;
                        position: relative;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                            -o-transition: .3s;
                        }

                        .overlay {
                            position: absolute;
                            inset: 0;
                            background-color: rgba(0, 0, 0, 0.4);
                        }

                        button {
                            position: absolute;
                            left: 15px;
                            bottom: 15px;
                            color: white;
                            text-transform: capitalize;
                            background-color: $special-color;
                            border: none;
                            padding: 5px 20px;
                            cursor: pointer;
                        }
                    }

                    .content {
                        h3 {
                            text-transform: capitalize;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                            -o-transition: .3s;
                            cursor: pointer;
                            margin-bottom: 15px;

                            &:hover {
                                color: $special-color;
                            }
                        }

                        .info {
                            a {
                                color: #777;
                                font-size: .8rem;
                                margin-right: 10px;

                                i {
                                    margin-right: 7px;
                                }
                            }
                        }

                        p {
                            color: #777;
                        }
                    }

                    &:hover img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }
            }

            .ad_banner {
                padding: 20px;
                background-color: white;
                margin: 30px 0;

                .image {
                    img {
                        max-width: 100%;
                    }
                }
            }

            .popular_posts {
                padding: 20px;
                background-color: white;
                margin-bottom: 30px;

                .heading {
                    background-color: $secondary-color;
                    padding: 10px 20px;
                    margin-bottom: 20px;

                    h3 {
                        text-transform: capitalize;
                        color: white;
                        font-size: .9rem;
                    }
                }

                .image_container {
                    .pizza {
                        position: relative;
                        overflow: hidden;
                        margin-bottom: 20px;

                        img {
                            width: 100%;
                            transition: .3s;
                            -webkit-transition: .3s;
                            -moz-transition: .3s;
                            -ms-transition: .3s;
                            -o-transition: .3s;
                        }

                        .content {
                            position: absolute;
                            left: 40px;
                            bottom: 40px;

                            button {
                                background-color: $special-color;
                                text-transform: capitalize;
                                color: white;
                                border: none;
                                padding: 5px 20px;
                            }

                            h2 {
                                text-transform: capitalize;
                                color: white;
                                margin: 20px 0;
                            }

                            .info {
                                a {
                                    margin-right: 10px;
                                    color: white;

                                    i {
                                        margin-right: 7px;
                                    }
                                }
                            }
                        }

                        &:hover img {
                            transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -moz-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            -o-transform: scale(1.1);
                        }
                    }

                    .marriage {
                        display: flex;
                        justify-content: space-between;

                        .marriage_one {
                            margin-right: 20px;
                        }

                        >div {
                            position: relative;
                            overflow: hidden;

                            .image {
                                position: relative;

                                img {
                                    width: 100%;
                                    transition: .3s;
                                    -webkit-transition: .3s;
                                    -moz-transition: .3s;
                                    -ms-transition: .3s;
                                    -o-transition: .3s;
                                }

                                button {
                                    position: absolute;
                                    left: 15px;
                                    bottom: 15px;
                                    background-color: $special-color;
                                    color: white;
                                    border: none;
                                    padding: 5px 20px;
                                    text-transform: capitalize;
                                }
                            }

                            &:hover img {
                                transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                            }

                            .content {
                                h3 {
                                    text-transform: capitalize;
                                    margin: 20px 0;
                                    transition: .3s;
                                    -webkit-transition: .3s;
                                    -moz-transition: .3s;
                                    -ms-transition: .3s;
                                    -o-transition: .3s;
                                    cursor: pointer;

                                    &:hover {
                                        color: $special-color;
                                    }
                                }

                                .info {
                                    a {
                                        color: #777;
                                        font-size: .8rem;
                                        margin-right: 10px;

                                        i {
                                            margin-right: 7px;
                                        }
                                    }
                                }

                                p {
                                    color: #777;
                                }
                            }
                        }
                    }
                }
            }

            .relevant_stories {
                padding: 20px;
                background-color: white;
                margin-bottom: 100px;

                .heading {
                    background-color: $secondary-color;
                    padding: 10px 20px;
                    margin-bottom: 20px;

                    h3 {
                        text-transform: capitalize;
                        color: white;
                        font-size: .9rem;
                    }
                }

                .cards {
                    .card {
                        display: flex;
                        align-items: center;

                        .image {
                            margin-right: 20px;
                            position: relative;
                            overflow: hidden;

                            img {
                                width: 100%;
                                transition: .3s;
                                -webkit-transition: .3s;
                                -moz-transition: .3s;
                                -ms-transition: .3s;
                                -o-transition: .3s;

                                &:hover {
                                    scale: 1.1;
                                }
                            }

                            button {
                                position: absolute;
                                left: 15px;
                                bottom: 15px;
                                background-color: $special-color;
                                color: white;
                                border: none;
                                padding: 5px 20px;
                                text-transform: capitalize;
                            }
                        }

                        .content {
                            h3 {
                                text-transform: capitalize;
                                transition: .3s;
                                -webkit-transition: .3s;
                                -moz-transition: .3s;
                                -ms-transition: .3s;
                                -o-transition: .3s;
                                cursor: pointer;
                                margin: 20px 0;

                                &:hover {
                                    color: $special-color;
                                }
                            }

                            .info {
                                a {
                                    color: #777;
                                    font-size: .8rem;
                                    margin-right: 10px;

                                    i {
                                        margin-right: 7px;
                                    }
                                }
                            }

                            p {
                                color: #777;
                            }
                        }
                    }
                }
            }
        }

        .editor_pick {
            background-color: white;
            padding: 20px;
            width: 30%;
            height: fit-content;

            .heading {
                background-color: $secondary-color;
                padding: 10px 20px;
                margin-bottom: 20px;

                h3 {
                    color: white;
                    text-transform: capitalize;
                    font-size: .9rem;
                }
            }

            .intro {
                border-bottom: 1px solid rgba(0, 0, 0, 0.4);

                .image {
                    position: relative;
                    overflow: hidden;

                    .overlay {
                        position: absolute;
                        inset: 0;
                        background-color: rgba(0, 0, 0, 0.4);
                    }

                    img {
                        width: 100%;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                        overflow: hidden;

                    }

                    button {
                        position: absolute;
                        left: 15px;
                        bottom: 15px;
                        text-transform: capitalize;
                        color: white;
                        background-color: $special-color;
                        border: none;
                        padding: 5px 20px;
                        cursor: pointer;
                    }

                    &:hover img {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        -o-transform: scale(1.1);
                    }
                }

                .content {
                    h3 {
                        cursor: pointer;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                        text-transform: capitalize;
                        margin: 15px 0;

                        &:hover {
                            color: $special-color;
                        }
                    }

                    .info {
                        a {
                            font-size: .8rem;
                            color: #777;
                            margin-right: 10px;

                            i {
                                margin-right: 7px;
                            }
                        }
                    }

                    p {
                        color: #777;
                    }
                }
            }

            .card {
                margin-top: 20px;
                display: flex;
                margin-bottom: 20px;
                padding-bottom: 20px;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                }

                img {
                    margin-right: 20px;
                }

                .content {
                    h4 {
                        text-transform: capitalize;
                        transition: .3s;
                        -webkit-transition: .3s;
                        -moz-transition: .3s;
                        -ms-transition: .3s;
                        -o-transition: .3s;
                        cursor: pointer;
                        line-height: 1.5;
                        margin-bottom: 10px;

                        &:hover {
                            color: $special-color;
                        }
                    }

                    .info {
                        a {
                            color: #777;
                            font-size: .8rem;
                            margin-right: 10px;

                            i {
                                margin-right: 7px;
                            }
                        }
                    }
                }
            }

            .side_ad {
                .ad {
                    img {
                        max-width: 100%;
                    }
                }
            }

            .news_letter {
                margin-bottom: 40px;

                .heading {
                    margin: 20px 0;
                }

                p {
                    color: #777;
                    text-transform: capitalize;
                    font-size: .9rem;
                }

                .subscribe {
                    display: flex;
                    flex-wrap: wrap;

                    input {
                        border: none;
                        padding: 10px 15px;
                    }

                    input[type="email"] {
                        background-color: #eee;

                        &::placeholder {
                            color: #b2b2b2;
                        }
                    }

                    input[type="submit"] {
                        color: white;
                        background-color: $special-color;
                    }
                }
            }

            .social_network {
                .socials {
                    .social {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        color: white;
                        margin-bottom: 20px;

                        .icon {
                            border-right: 1px solid white;
                            padding-right: 10px;

                            i {
                                background-color: white;
                                padding: 5px;
                                color: initial;
                            }
                        }

                        .link {
                            padding-left: 10px;
                            border-left: 1px solid white;

                            a {
                                color: white;
                            }
                        }

                        &.facebook {
                            background-color: $facebook-background;
                        }

                        &.twitter {
                            background-color: $twitter-background;
                        }

                        &.youtube {
                            background-color: $youtube-background;
                        }

                        &.wifi {
                            background-color: $wifi-background;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: $secondary-color;
    color: white;
    padding: 100px 20px;
    text-align: center;

    .sections {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
        margin-bottom: 50px;

        .section {
            text-align: left;

            h3 {
                text-transform: capitalize;
                margin-bottom: 40px;
            }

            ul {
                &.feed {
                    display: flex;
                    flex-wrap: wrap;
                }

                li {
                    margin-bottom: 20px;

                    a {
                        color: #777;
                        text-transform: capitalize;
                    }

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        p {
            font-size: .9rem;

            span {
                color: $special-color;
            }
        }

        .socials {
            display: flex;

            a {
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                background-color: rgba(255, 255, 255, 0.1);
                margin-right: 15px;
            }
        }
    }
}

.active {
    display: block !important;
}

@media (max-width:1190px) {
    .logo {
        .container {
            flex-direction: column;

            .banner_ad {
                margin-top: 20px;
            }
        }
    }

    .about {
        .image_container {
            flex-direction: column;

            .top_1 {
                margin-bottom: 20px;
                margin-right: 0;
            }

            .right_section {
                .top_2 {
                    margin-right: 10px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .top_1,
            .top_2,
            .top_3 {
                width: 80%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .about {
        .image_container {
            .right_section {
                flex-direction: column;

                .top_2,
                .top_3 {
                    width: 100%;
                }

                .top_2 {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .news {
        .container {
            flex-direction: column;

            .big_news {
                width: 100%;

                .latest_news {
                    .card {
                        flex-direction: column;

                        .image {
                            width: 100%;
                            margin-right: 0;
                        }

                        .content {
                            h3 {
                                margin-top: 20px;
                            }
                        }
                    }
                }

                .relevant_stories {
                    .cards {
                        .card {
                            flex-direction: column;

                            .image {
                                margin-right: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .editor_pick {
                width: 100%;
            }
        }
    }
}

@media (max-width:750px) {
    :root {
        font-size: 13px;
    }

    .logo {
        .container {
            .banner_ad {
                img {
                    width: 500px;
                }
            }
        }
    }

    .news {
        .big_news {
            .popular_posts {

                .image_container {
                    .marriage {
                        flex-direction: column;

                        .marriage_one {
                            margin-right: 0 !important;

                            >div {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:611px) {
    :root {
        font-size: 10px;
    }

    .about {
        nav {
            ul.list {
                flex-direction: column;
                position: absolute;
                background-color: $special-color;
                color: white;
                bottom: -160px;
                z-index: 99;
                padding: 10px;
                display: none;

                li {
                    margin-bottom: 10px;
                }
            }

            .menu_burger {
                display: block;
            }
        }
    }
}

@media (max-width:500px) {
    .logo {
        .container {
            .banner_ad {
                img {
                    width: 200px;
                }
            }
        }
    }

    footer {
        .copyright {
            .socials {
                a {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;

                    i {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 250px) {
    .editor_pick {
        .cards {
            .card {
                flex-direction: column;

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}