@import "../variable/variables";

header {
    background-color: $secondary-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .socials {
            a {
                margin-right: 10px;
                font-size: .8rem;
                color: white;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }
        }

        .reach_us {
            display: flex;
            align-items: center;
            font-size: 0.9rem;

            p {
                margin-right: 15px;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }

            a {
                text-decoration: none;
                transition: .3s;
                -webkit-transition: .3s;
                -moz-transition: .3s;
                -ms-transition: .3s;
                -o-transition: .3s;

                &:hover {
                    color: $special-color;
                }
            }

            p,
            a {
                color: white;
            }
        }
    }
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about {
    background-color: $background-color;

    nav {
        position: relative;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0 20px;
        margin-bottom: 15px;
        height: 42px;
        &.stick {
            position: fixed;
            top: 0;
            width: 75%;
            z-index: 9999;
        }

        ul {
            display: flex;

            li {
                margin-right: 20px;

                a {
                    color: white;
                    text-transform: uppercase;
                    font-size: .7rem;
                }
            }
        }
        .menu_burger {
            display: none;
        }
    }

    .drop_down {
        display: none;
        background-color: white;
        width: fit-content;
        padding: 5px 15px;
        position: absolute;
        left: 27%;
        z-index: 9999;

        ul {
            li {
                margin-bottom: 10px;

                a {
                    color: black;
                    text-transform: capitalize;
                }
            }
        }
    }

    .image_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        .top_1 {
            margin-right: 20px;
        }

        .top_1,
        .top_2,
        .top_3 {
            overflow: hidden;
            position: relative;

            &:hover img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }

            .overlay {
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.4);
            }
        }

        .top_2,
        .top_3 {
            .content {
                font-size: .7rem;
                bottom: 20px;
                left: 20px;
                button {
                    font-size: .8rem;
                }
                h2 {
                    font-size: .8rem;
                }
                .info {
                    a {
                        font-size: .6rem;
                    }
                }
            }
        }

        img {
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            height: 100%;
        }

        .content {
            position: absolute;
            bottom: 40px;
            left: 30px;
            color: white;

            button {
                text-decoration: 300;
                background-color: $special-color;
                color: white;
                border: none;
                padding: 5px 30px;
                text-transform: capitalize;
                font-size: 1.1rem;
                font-weight: 100;
            }

            .info {
                a {
                    color: white;
                    margin-right: 10px;
                    font-size: .8rem;

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.active {
    display: block !important;
}

@media (max-width:1190px) {
    .logo {
        .container {
            flex-direction: column;

            .banner_ad {
                margin-top: 20px;
            }
        }
    }

    .about {
        .image_container {
            flex-direction: column;

            .top_1 {
                margin-bottom: 20px;
                margin-right: 0;
            }

            .right_section {
                .top_2 {
                    margin-right: 10px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .top_1,
            .top_2,
            .top_3 {
                width: 80%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .about {
        .image_container {
            .right_section {
                flex-direction: column;
                .top_2 {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width:750px) {
    :root {
        font-size: 13px;
    }

    .logo {
        .container {
            .banner_ad {
                img {
                    width: 500px;
                }
            }
        }
    }
}

@media (max-width:611px) {
    :root {
        font-size: 10px;
    }

    .about {
        nav {
            ul {
                display: none;
            }
            .menu_burger {
                display: block;
            }
        }
    }
}

@media (max-width:500px) {
    .logo {
        .container {
            .banner_ad {
                img {
                    width: 200px;
                }
            }
        }
    }
}