@import "../variable/variables";

.news {
    .reviews {
        background-color: white;
        padding: 30px;
        height: fit-content;
        margin-right: 20px;
        width: 70%;
        margin-bottom: 20px;
        .image {
            margin-bottom: 20px;
            img {
                width: 100%;
            }
        }
        .video {
            iframe {
                width: 100%;
                height: 400px;
            }
        }

        .starter {
            text-transform: capitalize;
            color: white;
            background-color: $special-color;
            border: none;
            outline: none;
            font-size: 1rem;
            padding: 5px 20px;
        }

        .heading {
            margin-top: 30px;
            margin-bottom: 60px;

            h2 {
                text-transform: capitalize;
                font-size: 1.5rem;
                margin-bottom: 15px;
            }

            .links {
                a {
                    color: #777;
                    margin-right: 15px;
                    font-size: .8rem;
                    text-transform: capitalize;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }

        .review {
            p {
                color: #777;
                font-size: .9rem;
                margin-bottom: 15px;

                &:last-of-type {
                    font-style: italic;
                    border-left: 2px solid $special-color;
                    padding-left: 20px;
                }
            }

            .togglers {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;

                button {
                    background-color: $secondary-color;
                    color: white;
                    text-transform: capitalize;
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    cursor: pointer;
                    transition: .3s;
                    -webkit-transition: .3s;
                    -moz-transition: .3s;
                    -ms-transition: .3s;
                    -o-transition: .3s;

                    &:hover {
                        background-color: $special-color;
                    }

                    i {
                        margin: 0 10px 0 10px;
                    }
                }
            }
        
        }
        .comments {
            margin-top: 30px;
            .comments_counter {
                margin-bottom: 30px;
                font-weight: 700;
            }
            .comment {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;
                &:nth-of-type(2) {
                    padding-left: 30px;
                }
                .content {
                    display: flex;
                    .image {
                        margin-right: 15px;
                        img {
                            width: 100%;
                        }
                    }
                    .info {
                        h4 {
                            text-transform: capitalize;
                            margin-bottom: 5px;
                        }
                        span {
                            color: #e0e0e0;
                            text-transform: capitalize;
                        }
                        p {
                            text-transform: capitalize;
                            color: #777;
                        }
                    }
                }
                .reply {
                    height: fit-content;
                    width: fit-content;
                    text-transform: uppercase;
                    background-color: $secondary-color;
                    color: white;
                    border: none;
                    outline: none;
                    padding: 10px 25px;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .news {
        .reviews {
            width: 100%;
        }
    }
}

@media (max-width:611px) {
    .news {
        .reviews {
            .review {
                .togglers {
                    button {
                        font-size: .9rem;
                    }
                }
            }
            .comments {
                .comment {
                    .reply {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
@media (max-width:500px) {
    .news {
        .reviews {
            .comments {
                .comment {
                    flex-direction: column;
                    .content {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}